		html,body{
			padding: 0;margin:0;
		}
		#canvas{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-60%);
			z-index: -1;
			
		}
		
		.progressRow{
		   justify-content: center;
		}
		.titleRow{
			justify-content: center;
			margin-top: 40px;
			margin-bottom: 30px;
		}		

		
		#countries{
			transform: translate(-15%,25%);
		}
		
		.dis{
			display:none;
		}


    .progressPrgph{
    	margin-top: 2px;
	    margin-bottom: 35px;
    }

    .progressPrgph.lastStat{
    	margin-top: -7px;
    }

     .progressPrgph.prevlastStat{
    	margin-top: -2px;
    }


   .progressPrgph.firstStat{
    	margin-top: 3px;
    }
    
@keyframes countriesListAnim {
  0% {top: -20%;
  opacity:0;}
   100% {top:30%;
   opacity:1;}

}

@keyframes fadeIn {
  0% {
  opacity:0;}
   100% {
   opacity:1;}

}


#countries{
	position:absolute;
	margin-left: 50px; margin-top: 50px; font-weight: bold; 
    line-height: 50px;
	animation: countriesListAnim 1.5s ease-in-out forwards ;
}

#countries li{
	text-transform:uppercase;
}

#fields{
		animation: fadeIn 1.5s ease-in-out forwards ;
}